h1 {
    position: absolute ;
    left: 42% ;    
}

.container {
    display: flex ;
    flex-wrap: wrap ;
}

.board-user {
    width: 400px ;
    height: 400px ;
    display: flex ;
    flex-wrap: wrap ;
    background: rgb(252, 172, 172) ;
    border: 3px solid black ;
    padding: .5rem ;
    box-shadow: 8px 8px black;
    margin: 20px ;
    margin-top: 5% ;

}
.board-computer {
    width: 400px ;
    height: 400px ;
    display: flex ;
    flex-wrap: wrap ;
    background: rgb(180, 164, 255) ;
    border: 3px solid black ;
    padding: .5rem ;
    box-shadow: 8px 8px black;
    margin: 20px ;
    margin-top: 5% ;
}
.board-display {
    width: 400px ;
    height: 400px ;

    background: lightyellow ;
    border: 3px solid black ;
    padding: .5rem ;
    box-shadow: 8px 8px black;
    margin: 20px ;
    margin-top: 5% ;
}
.board div {
    width: 40px ;
    height: 40px ;
    display: flex ;
}

.gamePlay {
    margin-top: 10px;
    
    
}

.ship div {
    width: 40px ;
    height: 40px ;
}

.destroyer-container {
    width: 80px ;
    height: 40px ;
    background-color: yellow;
    margin: 10px ;
    display: flex ;
}

.destroyer-container-vertical {
    width: 40px ;
    height: 80px ;
    background-color: yellow;
    margin: 10px ;
    display: flex ;
    flex-wrap: wrap ;
}

.cruiser-container {
    width: 120px ;
    height: 40px ;
    background-color: orange;
    margin: 10px ;
    display: flex ;
}

.cruiser-container-vertical {
    width: 40px ;
    height: 120px ;
    background-color: orange;
    margin: 10px ;
    display: flex ;
    flex-wrap: wrap ;
}

.submarine-container {
    width: 120px ;
    height: 40px ;
    background-color: purple;
    margin: 10px ;
    display: flex ;
}

.submarine-container-vertical {
    width: 40px ;
    height: 120px ;
    background-color: purple;
    margin: 10px ;
    display: flex ;
    flex-wrap: wrap ;
}


.battleship-container {
    width: 160px ;
    height: 40px ;
    background-color: blue;
    margin: 10px ;
    display: flex ;
}

.battleship-container-vertical {
    width: 40px ;
    height: 160px ;
    background-color: blue;
    margin: 10px ;
    display: flex ;
    flex-wrap: wrap ;
}

.carrier-container {
    width: 200px ;
    height: 40px ;
    background-color: green;
    margin: 10px ;
    display: flex ;
}

.carrier-container-vertical {
    width: 40px ;
    height: 200px ;
    background-color: green;
    margin: 10px ;
    display: flex ;
    flex-wrap: wrap ;
}
/* change ship colors here to rgb(180, 164, 255) for invisable computer ships*/
.destroyer {
    background-color: yellow ;
}
.cruiser {
    background-color: orange ;
}
.submarine {
    background-color: purple ;
}
.battleship {
    background-color: blue ;
}
.carrier {
    background-color: green ;
}

.hit {
    background-color: red ;
}

.miss {
    background-color: black;
}





