h1 {
    position: absolute ;
    left: 40% ;
    
}

.gameBoard {
    display: flex ;
    flex-wrap: wrap ;
}

.board-user {
    width: 320px ;
    height: 320px ;
    display: flex ;
    flex-wrap: wrap ;
    background: rgb(252, 172, 172) ;
    border: 3px solid black ;
    padding: .5rem ;
    box-shadow: 8px 8px black;
    margin: 20px ;
    margin-top: 5% ;

}
.board-computer {
    width: 320px ;
    height: 320px ;
    display: flex ;
    flex-wrap: wrap ;
    background: rgb(180, 164, 255) ;
    border: 3px solid black ;
    padding: .5rem ;
    box-shadow: 8px 8px black;
    margin: 20px ;
    margin-top: 5% ;
}
.board-placement {
    width: 320px ;
    height: 320px ;
    display: flex ;
    flex-wrap: wrap ;
    background: lightyellow ;
    border: 3px solid black ;
    padding: .5rem ;
    box-shadow: 8px 8px black;
    margin: 20px ;
    margin-top: 5% ;
}
.board div {
    width: 40px ;
    height: 40px ;
    display: flex ;
}

.gamePlay {
    margin-top: 10px;
    
}

.ship div {
    width: 40px ;
    height: 40px ;
}

.destroyer-container {
    width: 80px ;
    height: 40px ;
    background-color: yellow;
    margin: 10px ;
    display: flex ;
}
.cruiser-container {
    width: 120px ;
    height: 40px ;
    background-color: orange;
    margin: 10px ;
    display: flex ;
}
.battleship-container {
    width: 160px ;
    height: 40px ;
    background-color: blue;
    margin: 10px ;
    display: flex ;
}
.carrier-container {
    width: 200px ;
    height: 40px ;
    background-color: green;
    margin: 10px ;
    display: flex ;
}
.destroyer {
    background-color: yellow ;
}
.cruiser {
    background-color: orange ;
}
.battleship {
    background-color: blue ;
}
.carrier {
    background-color: green ;
}







